html {
    font-family: 'Karla', sans-serif;
}

bg {
    width: 20%;
}

body {
    background-color: #f8f5f1;
    font-family: "Open Sans",sans-serif;
    margin: 0;
}
  
/*Style for navigation bar*/
.topNav {
    padding: 0 150px;
    z-index: 1;
    background-color: transparent;
}

.leftNav {
    display: inline-block;
}

.navBarList {
    display: inline-block;
    height: 60px;
    padding: 0;
    margin: 0;
}

.navBarLink {
    line-height: 60px;
    display: inline-block;
    margin: 0 16px 0 0;
}

#navBarLinkName{
    float: left;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    margin: 0 16px 0 0;    
}

a:hover {
    text-decoration: none;
    color: #dd4242 !important;
    outline: none;
}

.rightNav {
    float: right;
    margin: 0 -50px 0 0;
}

h1 {
    font-size: 65px;
    font-family: 'Montserrat', serif ;
    margin: 50px 0px -5px 145px;
    display: block;
}

h2 {
    padding-top: 50px;
    padding-left: 149px;
    padding-right: 800px;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
}

.company {
    text-decoration: underline #dd4242;
    color: black;
}

.introduction h3 {
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

.about h3 {
    padding-top: 30px;
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    padding-right: 600px;
}

h4 {
    padding-top: 25px;
    padding-left: 149px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.projects h3 {
    padding-top: 10px;
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

.footer {
    margin-top: 30px;
    margin-left: 150px;
    padding-bottom: 40px;
    color: black !important;
}

.footerDescription {
    margin-top: 0;
    margin-left: -149px;
}