body {
    background-color: #f8f5f1;
    font-family: "Open Sans",sans-serif;
    margin: 0;
}
  
.topNav {
    float: center;
    color: #fff;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}



logo {
    position: absolute;
    width: 60px;
    height: 50px;
    left: 34px;
    top: 34px;
}
