html {
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #f8f5f1;
    font-family: "Open Sans",sans-serif;
    margin: 0;
}
  
/*Style for navigation bar*/
.topNav {
    padding: 0 150px;
    z-index: 1;
    background-color: transparent;
}

.leftNav {
    display: inline-block;
}

.navBarList {
    display: inline-block;
    height: 60px;
    padding: 0;
    margin: 0;
}

.navBarLink {
    line-height: 60px;
    display: inline-block;
    margin: 0 16px 0 0;
}

#navBarLinkName{
    float: left;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    margin: 0 16px 0 0;    
}

.rightNav {
    float: right;
    margin: 0 -50px 0 0;
}

h1 {
    font-size: 65px;
    font-family: 'Montserrat', serif ;
    margin: 50px 0px -5px 145px;
    display: block;
}

h2 {
    padding-top: 50px;
    padding-left: 149px;
    padding-right: 800px;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
}

.company {
    text-decoration: underline #dd4242;
    color: black;
}

.introduction h3 {
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

.aboutText h3 {
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

h4 {
    padding-top: 25px;
    padding-left: 149px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.projects h3 {
    padding-top: 10px;
    padding-left: 149px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

.about {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.aboutText {
    flex: 0 0 45%;
    max-width: 45%;
}

.space {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}

.aboutPicture {
    position: relative;
    width: 330px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 25px;
}

.footer {
    margin-top: 30px;
    margin-left: 150px;
    padding-bottom: 40px;
    color: black !important;
}

.footerDescription {
    margin-top: 0;
    margin-left: -149px;
}

.footerLink {
    line-height: 60px;
    display: inline-block;
}

#footerLinkName {
    padding-right: 40px; 
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #dd4242 !important;
    outline: none;
}

/*For phones*/
@media only screen and (max-width: 600px) {
    .topNav {
        padding: 0 55px 0 15px;
        margin: 0;
    }
    #navBarLinkName {
        font-size: 12px;
    }

    .introduction h3, .projects h3, h4 {
        padding-left: 15px;
        font-size: 12px;
        padding-top: 0px;
    }
    h1 {
        padding-left: 15px;
        margin: 0;
        font-size: 20px !important;
    }
    .aboutText h3 {
        padding-left: 35px;
        font-size: 10px;
        margin: -20px;
        margin-top: -10px;
        
    }
    .aboutPicture {
        width: 35%;
        margin-top: -10px;
    }
    .space {
        position: relative;
        padding-right: 5px;
        padding-left: 5px;
    }
    .footer {
        margin-left: 15px;
    }
    .footerDescription {
        margin: 30px 0 -15px -15px;
    }
    #footerLinkName {
        font-size: 12px;
        padding-right: 7px;
    }

}

/*For iPads*/
@media only screen and (min-width: 3000px) {
    .topNav {
        padding: 0 15px 0 10px;
        margin: 0;
    }
    .introduction h3, .projects h3, h4, h1 {
        padding-left: 50px;
    }
    .aboutText h3 {
        padding-left: 35px;
        margin: -20px;
        margin-top: -10px;
    }
}

/*For Desktop*/
@media only screen and (max-width: 2000px){
    
}